*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: lightblue;
}

td {
  width: 20px;
  height: 20px;
}

.blank {
  background-color:#B30838;
}

.snake {
  background-color: #B30838;
}

.wall {
  background-color: #013A81;
}

.fruit {
  background-color: #F5E700;
}
